//- index.pug
head
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1")


  link(rel="stylesheet" href="./css/styles.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
html
  nav(class="navbar")
    div(class="navbar-container right")
      div(class="animated-bar1") &nbsp;
      div(class="animated-bar2") &nbsp;
      div(class="animated-bar3") &nbsp;
    div(class="navbar-container right")
      h2(class="text-white navbar-title" href="#") #{title}
    
  include include/polls.pug
  nav(aria-label="..." class="d-none" id="pagination")
    ul(class="pagination pagination-sm center")
      li(class="page-item disabled left-page-item" aria-current="page")
        a(class="page-link") Previous
      li(class="page-item right-page-item active" aria-current="page")
        a(class="page-link" href=nextPage) Next 
          
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="./js/anime.min.js")
  script(src="./js/animateStuff.js")
