$primary-color: #aaaaff;
$primary-darken-1: #9c65c9;
$primary-darken-2: #5e3085;
$primary-darken-3: #390f61;

$body-color: white;

@media only screen and (max-device-width: 640px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 33px;
  }

  .page-btn {
    display: flex;
    transition: background-color 0.5s;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
  }
}
h1 {
  font-size: 33px;
  margin: 1%;
}
.subpopulation-response {
  color: #808080;
}

.bg-grey {
  background-color: #b0b0b0;
}

.bg-white {
  background-color: white;
}

.response-bar {
  color: white;
}

.disapprove {
  color: #ff0000;
}

.approve {
  color: #00ff00;
}

.d-none {
  display: none !important;
}

.bg-primary {
  background-color: $primary-color;
}

.text-white {
  color: white;
}

.btn:hover {
  background-color: $primary-darken-1;
}

.badge {
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.5s;
}
.badge:hover {
  background-color: $primary-darken-1;
}
a:link {
  text-decoration: none;
}

nav.navbar {
  background-color: $primary-color;
  height: 10%;
  align-content: center;
}

body {
  margin: 0;
  font-family: Roboto;
}

.navbar-title {
  text-align: center;
}

.navbar-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 200px;
  height: 90%;
  text-align: center;
  vertical-align: middle;
}

.justify-content-center {
  justify-content: center;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px
}

.right {
  float: right;
}

.left {
  float: left;
}

.page-btn {
  display: flex;
  transition: background-color 0.5s;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.center {
  align-content: center;
  vertical-align: middle;
}

.animated-bar1 {
  animation: transition-width-1 1s;
  width: 45%;
  background-color: #9c65c9;
}

.progress-bar {
  background-color: $primary-color;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  width: 0%;
}

.animated-bar2 {
  animation: transition-width-2 1s;
  width: 85%;
  background-color: #5e3085;
}

.pagination {
  text-align: center
}

.page-item {
  display: inline-block;
  border: 1px solid grey;
  transition: background-color 0.5s;
  padding: 5px;
}
.left-page-item {
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}
.right-page-item {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}

.active:hover {
  background-color: $primary-color;
}

.animated-bar3 {
  animation: transition-width-3 1s;
  width: 55%;
  background-color: #8e56bf;
}

ul {
  list-style-type: none;
}

@keyframes transition-width-1 {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

@keyframes transition-width-2 {
  from {
    width: 0%;
  }
  to {
    widtht: 85%;
  }
}

@keyframes transition-width-3 {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}
