$theme-colors: (
  "primary": #0000ff,
  "danger": #ff4136
);

@import '../../node_modules/bootstrap/scss/bootstrap';

.subpopulation-responses {
  color: #808080;
}

.response-bar {
  color: white;
}

.disapprove {
  color: #ff0000;
}

.approve {
  color: #00ff00;  
}
